body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: rgba(51, 51, 51, 0.8);
    width: 100%; /* Hacer que la navegación ocupe el ancho completo */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar los elementos de la navegación */
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(87, 87, 87, 0.8);
    color: #ffeb3b;
}

main {
    margin: 20px auto; /* Centrando el main */
    text-align: center;
    flex: 1;
    max-width: 800px; /* Limitar el ancho para que no se extienda demasiado */
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.history {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a;
}

.history-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

body {
    background: linear-gradient(to bottom, #a8e6cf, #388e3c);
}
